*, a{
    color: $txtcolor;
}
.portfolio__nav {
    background: $card-bg;
    border-radius: $border-radius;
    align-items: center;
    justify-content: space-between;
    width: 1392px;
    height: 101px;

    &--a{
        text-decoration: none;
        width: 79px;
        height: 11px;
        font-weight: $fowei3;
        font-size: 16px;
        line-height: 100%;}
    &--name{
        font-weight: 350;
        font-size: 25px;
        line-height: 100%;      
        width: 158px;
        height: 17px;
            span{font-style: Italic;}}
}

.portfolio__hero {
  position: relative;
  height: 480px;
  width: 565px;
  display: flex;
  align-items: center;
}
.dublis{
  border-radius: $border-radius;
  background: $card-bg;
}

.portfolio{
        &__card {
        border-radius: $border-radius;
        background: $card-bg;
            &--flower {
            position: absolute;
            top: 18px;
            right: 18px;
            width: 120px;
            height: 120px;}

            &--title {
                font-weight: 700;
                size: 56px;
                line-height: 100%;
                position: absolute;
                top: 225px;
                left: 24px;
                width: 475px;
                height: 168px;
                span{
                    font-weight: $fowei3;
                    font-style: Italic;
                    font-size: 56px;}}
            &--a{text-decoration: none;
            width: 81px;
            height: 11px;
            font-weight: $fowei3;
            font-size: 15px;
            }
        }
        &__photo {
            overflow: hidden;
            width: 330px;
            height: 476px;
        
            img {
            width: 100%;
            height: 100%;
            }}
    }


.musea{
    width: 447px;
    //neduoda height
    height: 726px;
    // top: 149px; left: 968px;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
        img{width:400px; height: 270px;}
        span{ font-size: 1.4em;}
        li{width: 400px; height: 72px;}
        &__name{
            justify-content: space-between;
            align-items: center;
            width: 400px;
            height: 72px;
        }
}
// <!-- Musea LI  nepagauna border-->
/*.border-bottom{
border-bottom: 20px $accent-bg;
}*/

.about{
    width: 448px;
    height: 351px;
    top: 649px;
    left: 24px;
    &__p{
        width: 296px; 
        height: 150px; 
        margin: 110px 5px ;
        font-size: 20px;
        line-height: 25px;
        font-weight: $fowei3;}
}

.contactme{
    width: 448px;
    height: 351px;
    top: 649px;
    left: 496px;
    background: $accent-bg;
    border-radius: $border-radius;
        &__qa{justify-content: space-between;
        p{
            width: 78px;
            height: 34px;
            font-weight: $fowei3;
            font-size: 15px;
        }
        span{
            font-size: 2em;
            font-weight: bold;
        }
        }
        &__h3{
            width: 302px;
            height: 39px;  
            font-weight: 500;
            font-size: 55px;
            line-height: 100%;
            margin: 160px 5px;
            // color: #000;

        }


}
.socialsfoo{
    width: 448px;
    height: 101px;
    justify-content: space-between;
    align-items: center; 
}
