*, a{color: $txtcolor;}

.portfolio__nav {
    background: $card-bg;
    border-radius: $border-radius;
    align-items: center;
    justify-content: space-between;
    width: 1392px;
    height: 101px;
    &--a{
        text-decoration: none;
        width: 79px;
        height: 11px;
        font-weight: $fowei3;
        font-size: 16px;
        line-height: 100%;}
    &--name{
        font-weight: 350;
        font-size: 25px;
        line-height: 100%;      
        width: 158px;
        height: 17px;
            span{font-style: Italic;}}
}
.portfolio__hero, .portfolio__photo { min-height: 500px; }
.portfolio__hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 3rem 3rem 4rem 3rem;
    padding-right: 120px; /* atstumas nuo flower */
}
.dublis{
    border-radius: $border-radius;
    background: $card-bg;
}
.portfolio{
        &__card {
        border-radius: $border-radius;
        background: $card-bg;
            &--flower {
            position: absolute;
            top: 18px;
            right: 18px;
            img{
                width: 100%; 
                height: auto; 
                display: block; }  /* scales with box */
                // Because .portfolio__hero is position: relative; - flower moves with it.
            }
            &--title {
                font-weight: 700;
                max-width: 480px; // wrapas
                font-size: 3rem; 
                line-height: 100%;
                p{ margin:0; }
                span{ font-weight: $fowei3; font-style: Italic;}}
            &--a{
                text-decoration: none;
                font-weight: $fowei3;
                font-size: 15px;}
        }
        &__photo {
            min-width: 330px;
            img { width: 100%; height: 100%;}}
}
.musea{
    width: 447px;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    min-height: 720px;
        img{width:400px; height: 270px;}
        span{ font-size: 1.4em;}
        li{border-bottom: 3px solid $accent-bg;
            font-weight: 500;
            font-size: 25px;
            line-height: 2.4;}
        &__name{
            justify-content: space-between;
            align-items: center;
            width: 400px;
            height: 72px;}
}                                     
.musea ul li:last-child { border-bottom: 0;}
.about, .contactme { min-height: 320px; }

.about{
    position: relative;
    display: flex;
    align-items:flex-end;
    min-height: 320px;     /* wraps */
        img{
            position: absolute; /* flower sits in top-left */
            top: 1rem;
            left: 1rem;
            width: 40px;
            height: 40px;}
        &__p{
            width: 296px; 
            height: 150px; 
            margin: 0; /* Bootstrap card padding already creates spacing */
            font-size: 20px;
            line-height: 25px;
            font-weight: $fowei3;}
}
.contactme{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    position: relative;     /* arrow stay in top-right */
    background: $accent-bg;
    border-radius: $border-radius;
        &__qa{
            position: absolute;
            top: 1rem;
            right: 1rem;
            left: 1rem;
            display: flex;
            justify-content: space-between;
            p{
                width: 78px;
                height: 34px;
                font-weight: $fowei3;
                font-size: 15px;}
            span{ font-size: 2em; font-weight: bold;}
        }
        &__h3{ font-weight: 500; font-size: 55px; line-height: 100%;}
}
.socialsfoo{
    width: 448px;
    height: 101px;
    justify-content: space-between;
    align-items: center; 
}